@font-face {
  font-family: 'FjallaOne';
  src: url('../fonts/FjallaOne-Regular.woff');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruda-Regular.woff');
       font-weight: 400;
       font-style: normal;
}